<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ .Site.Title }}</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                line-height: 1.6;
                margin: 0;
                padding: 20px;
            }

            .container {
                max-width: 800px;
                margin: 0 auto;
            }
        </style>
        <script src="https://manymetrics-sdk-site2.s3.amazonaws.com/analytics.js"></script>
        <script>
            const mm = new ManyMetrics('https://rob31uq3qf.execute-api.eu-west-1.amazonaws.com', 'YOUR_API_KEY');
            mm.init();
        </script>
    </head>

  <body class="container">
    <header>
        <h1>
            <a href="/">{{ .Site.Title }}</a>
            <a href="https://github.com/manymetrics/manymetrics">
                <img style="float: right; margin-top: 0.5em;" src="https://img.shields.io/github/stars/manymetrics/manymetrics" />
            </a>
        </h1>
    </header>

    <main>
      {{ block "main" . }}{{ end }}
    </main>

  </body>
</html>
